{% include 'views/header.html.twig' %}

{% if playerVictories + computerVictories != 0 %}
    <div class="flex row between">
        <p>Highest money: {{ maxPlayerMoney }}₿</p>
        <p>{{playerName}}: {{ playerVictories }} - Computer: {{ computerVictories }}</p>
    </div>
{% endif %}

<div class="flex row start">
    <form method="post" action="{{ path('twentyone_reset') }}">
        <input class="button small-button" type="submit" name="action" value="Reset">
    </form>
</div>

<h2>Round setup</h2>

<form class="" action="{{ path('twentyone_turnsetup') }}" method="post">
    <h3>Dices</h3>
    <div class="flex row center">
        <p>1</p>
        <label class="switch">
          <input type="checkbox" name="dices" value="2">
          <span class="slider round"></span>
        </label>
        <p>2</p>
    </div>
    <div class="flex row center">
        <p>Place your bet: </p>
        <input type="number" id="bet" name="bet" min="0" max="{{ (playerMoney )|round(0, 'ceil') }}" required>
    </div>

    <div class="flex row center">
        <input class="button" type="submit" name="action" value="Start game">
    </div>

</form>

{% include 'twentyone/twentyonefooter.html.twig' %}
